server:
  port: 8080
spring:
  application:
    name: OrderManagement

#sets the default maximum size allowed for any page request
  data:
    web:
      pageable:
        max-page-size=100

  # general Kafka config
  kafka:
    # the address(es) of the kafka brokers
    bootstrap-servers: localhost:9092, kafka-broker-1:9092

    # producer-specific config (for sending messages)
    producer:
      key-serializer:
        # defines how to convert message keys to bytes - String format
        org.apache.kafka.common.serialization.StringSerializer
      value-serializer:
        # defines how to convert message values to bytes - using JSON format to send objects
        org.springframework.kafka.serialization.JsonSerializer
        # ensures the producer waits for acknowledgement from all in-async replicas
        # before considering a send successful - highest reliability but lower throughput
        acks:all # ensure high reliability

    # new consumer config block
    consumer:
      # CRITICAL: unique identifier for this service's consumer instance
      # All instances of the OrderService will belong to this group
      group-id: order-service-consumer-group

      # define how to deserialize the KEY of the incoming message
      # convert incoming message keys from bytes back to Strings
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      # define how to deserialize the VALUE of the incoming message
      # convert incoming message values from bytes back to Java objects using JSON
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      # required for JSON Deserializer to trust the shared DTO packages
      properties:
        # tells the JSON deserializer to only accept objects from the specified package,
        # preventing deserialization attacks
        spring.json.trusted.packages: "com.beaconfire.ordermanagement"

      # define where to start consuming messages when a new group is created
      # 'earliest' (from beginning) or 'latest' (from now).
      # 'earliest' is safer for initial runs
      auto-offset-reset: earliest

      # set to false if you want manual control over commit(safer for transaction logic)
      enable-auto-commit: false

    listener:
      concurrency: 3    # 3 consumer threads/instances per app instance

# Custom Application-specific topics (defined outside the spring.kafka block)
app:
  kafka:
    topics:
      # these are the producer topics(OrderService
      # is the sender)
      inventory-reduction: inventory.order-placed
      inventory-restock: inventory.restock-requests

      notification-create: notification.order-placed
      notification-cancel: notification.order-cancelled
      notification-return: notification.order-returned

      payment-request: payment.charge-request
      payment-return: payment.order-returned-refund
      payment-cancel: payment.order-cancelled-refund

      # === new consumer topics for OrderService===
      payment-confirmed: payment.charge-confirmed
      payment-failed: payment.charge-failed
      payment-refund-done: payment.refund-completed

      inventory-reserved: inventory.reserved-confirmation
      inventory-reservation-failed: inventory.reservation-failed

      # consumer topics from shipmentService
      shipment-shipped: shipment.started
      shipment-delivered: shipment.delivered

